<nav class="navbar navbar-expand-lg d-flex justify-content-between border border-bottom-3  shadow-bottom ">
    <a class="navbar-brand" href="#">
        <img src="https://beesheetsv2.beehyv.com/assets/images/logo.png" alt="BeeHyv" height="56px">
    </a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="icon fs-5">&#128276;</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link user-icon" href="#">
                <span class="icon"><img src="	https://beesheetsv2.beehyv.com/assets/images/Avatar.png" alt="profile " ></span> 
            </a>
        </li>
    </ul>
</nav>